<h1>{{title}}</h1>
<div>
    <div>
        <label> Name :</label>
        <input [(ngModel)]="person.name" />
    </div>
    <div>
        <button (click)="addPerson()">Add</button>
    </div>
</div>
<table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th> Update</th>
        <th> Remove </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people;">
        <td>{{person.id}}</td>
        <td>{{person.name}}</td>
        <td> <input [(ngModel)]="person.name" /> <button (click)="updatePerson(person)">Update</button></td>
        <td> <button (click)="removePerson(person)">Removed</button></td>
      </tr>
    </tbody>
  </table>
