<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * --->

<div>
  <h1> {{title}}</h1>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<ul class="nav nav-pills">
  <li [class.active]="viewTab== 'map'"><a (click)="viewTab='map'"> Map view </a></li>
  <li [class.active]="viewTab== 'list'"> <a (click)="viewTab='list'"> List View</a></li>
</ul>
<div [ngSwitch]="viewTab">
  <div *ngSwitchCase="'map'">Map view content</div>
  <div *ngSwitchCase="'list'">list view content</div>
  <div *ngSwitchDefault>output2</div>
</div>
<app-favorite [isFavorite]="post.isFavorite" (change)="onChangeValue()"></app-favorite>
<app-panel>
  <div class="heading">Heading</div>
  <div class="body">
    <h1>
      Body 
    </h1>
    <p> some content start here .....</p>
  </div>
</app-panel>
<div>
  <!--<input type="text" appAdded [format]="'uppercase'">-->
  <input type="text" [appAdded]= "'uppercase'"/>
</div>
<app-course></app-course>

<router-outlet></router-outlet>